<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>首页-凯乐石官网</title>
	<link rel="stylesheet" href="./style/reset.css">
	<link rel="stylesheet" href="./style/style.css">
	<link rel="stylesheet" href="./style/swiper-bundle.css">

</head>

<body>
	
	<!-- 空 -->
	<div style="height: 100px;"></div>
	<!-- 结束 -->
	<script type='text/javascript' src='./script/utils.js'></script>
	<script type='text/javascript' src='./script/swiper-bundle.js'></script>
	<script type='text/javascript' src='./script/jquery-1.8.3.js'></script>
	<script type='text/javascript' src='./script/index.js'></script>
</body>

</html>