<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/public_header.css">
    <link rel="stylesheet" href="../css/iconfont/iconfont.css">
    <link rel="stylesheet" href="../css/public_buttom.css">
    <link rel="stylesheet" href="../css/goods_details.css">
    <script src="../js/require.js" data-main="../js/app/goods_details.js"></script>
</head>
<body>
<div class="header-wrap">
    <div class="h_nav">
        <div class="nav layout">
            <div class="nav_l">
                <p><i class="iconfont">&#xe613;</i>YOHO!BUY 有货</p>
                <ul>
                    <li><a data-change="集团官网" data-change2="YOHO!" href="">YOHO!</a></li>
                    <li><a data-change="男生潮流" data-change2="YOHO!BOYS" href="">YOHO!BOYS</a></li>
                    <li><a data-change="女生潮流" data-change2="YOHO!GIRLS" href="">YOHO!GIRLS</a></li>
                    <li><a data-change="趣物分享" data-change2="YOHO!SHOW" href="">YOHO!SHOW</a></li>
                    <li><a data-change="潮流嘉年华" data-change2="YO'HOOD" href="">YO'HOOD</a></li>
                </ul>
            </div>
            <div class="nav_r">
                <ul>
                    <li class="nav_r_dlZc"><span>Hi~ </span>[<a href="landing.html" id="userName"> 请登录 </a>] [<a href="registered.html" id="user_exit"> 免费注册 </a>]</li>
                    <li>|</li>
                    <li><a href="" class="nav_btn_select">MY有货<i class="iconfont">&#xe615;</i></a></li>
                    <li>|</li>
                    <li><a href="" ><i class="iconfont">&#xe605;</i>我的订单</a></li>
                    <li>|</li>
                    <li><a href=""><i class="iconfont">&#xe63d;</i>我的收藏</a></li>
                    <li>|</li>
                    <li><a href=""><i class="iconfont">&#xe635;</i>消息</a></li>
                    <li>|</li>
                    <li><a href=""><i class="iconfont">&#x3459;</i>帮助中心</a></li>
                    <li>|</li>
                    <li><a href="" class="red nav_r_sj"><i class="iconfont">&#xe795;</i>手机版
                        <div class="h_nav_qrShow">
                            <h1>扫描二维码</h1>
                            <p>下载YohoBuy手机端</p>
                            <span>更多客户端下载</span>
                        </div>
                    </a></li>
                </ul>

            </div>
        </div>
</div>
    <div class="h_middle layout">
        <ul class="h_m_nav">
            <li><a class="h_m_n_selected" href="">男生<br/><span>BOYS</span></a></li>
            <li><a href="">女生<br/><span>GIRLS</span></a></li>
            <li><a href="">潮童<br/><span>KIDS</span></a></li>
            <li><a href="">创意生活<br/><span>LIFE STYLE</span></a></li>
        </ul>
        <a href="" class="p_h_logo">
            <img class="p_h_logo_1" src="../img/p_h_logo_1.png" alt="">
            <img class="p_h_logo_2" src="../img/p_h_logo_2.png" alt="">
        </a>
        <div class="h_m_r">
            <div class="search">
                <input type="text" placeholder="潮流新趋势" id="keyword"><button><i class="iconfont">&#xe601;</i></button>
                <ul></ul>
            </div>
            <a class="shopping_cart" href="shopping_cart.html"><i class="iconfont">&#xe600;</i>
                <h1 class="shopping_show">
                    <i class="iconfont">&#xe60a;</i>
                    <p>您的购物车暂无商品</p>
                </h1>
            </a>

        </div>
    </div>
<div class="h_menu">
<ul class="layout">
    <li><a href="">新品到着</a></li>
    <li><a href="">品牌一览</a></li>
    <li><a href="" class="h_menu_target h_menu_hover" data-json="h_nav_list1.json">服饰<p></p></a></li>
    <li><a href="" class="h_menu_target h_menu_hover" data-json="h_nav_list2.json">鞋履<p></p></a></li>
    <li><a href="" class="h_menu_target h_menu_hover" data-json="h_nav_list3.json">包袋<p></p></a></li>
    <li><a href="" class="h_menu_target h_menu_hover" data-json="h_nav_list4.json">配饰 · 其他<p></p></a></li>
    <li><a href="">领券中心</a></li>
    <li><a href="">逛</a></li>
    <li><a href="">SALE</a></li>
</ul>
<div class="h_menu_list h_menu_hover">
    <div class="layout"></div>
</div>
</div>
</div>
<div class="layout">
    <div class="location"><p><a href="index.html">BOYS首页</a><b>></b><a href="javascript:">鞋靴</a><b>></b><a href="javascript:">休闲/运动鞋</a><b>></b><span> VANS Old Skool Lite U</span></p></div>
    <div class="goods_option_box">
        <div class="g_o_l">
            <div class="magnify">
                <div class="magnify_img"><img src="./img/magnify/magnify_img.jpg" alt="">
                <p></p></div>
                <div class="magnify_right_small_img"><img src="./img/magnify/magnify_small.jpg" alt=""></div>
                <div class="magnify_show"><img src="./img/magnify/magnify_show.jpg" alt=""></div>
                <p class="clear"></p>
            </div>
            <ul class="share">
                <p>分享：</p>
                <li class="share_img"><a href="javascript:"></a></li>
                <li class="share_img"><a href="javascript:"></a></li>
                <li class="share_img"><a href="javascript:"></a></li>
                <li class="share_img"><a href="javascript:"></a></li>
                <li class="share_img"><a href="javascript:"></a></li>
                <li class="share_img"><a href="javascript:"></a></li>
                <li class="share_img"><a href="javascript:"></a></li>
                <li class="share_qr"><span>扫一扫购买<b></b></span></li>
            </ul>
        </div>
        <div class="g_o_r">
            <h1 class="goods_title">VANS Old Skool Lite U</h1>
            <ul class="goods_option">
                <li class="price"><span>吊 牌 价：</span><i>¥635.00</i></li>
                <li class="sales"><span>促<b></b>销：</span><i>赠品</i><a href="javascript:">【VANS】满¥599赠鞋带</a></li>
                <li class="color"><span>颜<b></b>色：</span><a href="javascript:"><p>白色</p></a></li>
                <li class="size"><span>尺<b></b>码：</span>
                <ul>
                    <li ><a class="gray" href="javascript:">35码</a></li>
                    <li><a href="javascript:">36码</a></li>
                    <li><a class="gray" href="javascript:">36 1/2码</a></li>
                    <li><a href="javascript:">37码</a></li>
                    <li><a href="javascript:">38码</a></li>
                    <li><a href="javascript:">38 1/2码</a></li>
                    <li><a href="javascript:">39码</a></li>
                    <li><a href="javascript:">40码</a></li>
                    <li><a class="gray" href="javascript:">40 1/2码</a></li>
                    <li><a href="javascript:">41码</a></li>
                    <li><a href="javascript:">42码</a></li>
                    <li><a href="javascript:">42 1/2码</a></li>
                    <li><a href="javascript:">43码</a></li>


                </ul>
                </li>
                <li class="quantity"><span>数<b></b>量：</span><button id="subtract">-</button><p>1</p><button id="plus">+</button></li>
            </ul>
            <p class="add_to_shopping_cart">
                <a href="javascript:" class="add_shopping_cart"><b class="iconfont">&#xe60a;</b>加入购物车</a>
                <a href="javascript:" class="collect"><b class="iconfont">&#xe63d;</b>收藏商品</a>
            </p>
        </div>
        <p class="clear"></p>
    </div>
    <div class="other-infos">
        <div class="goods_infos">
            <span class="infos_title">商品信息</span>
            <ul>
                <li>编　　号: 51494744</li>
                <li class="kong"></li>
                <li>颜　　色: 白色</li>
                <li class="kong"></li>
                <li>性　　别: 通用</li>
                <li class="kong"></li>
                <li>经典鞋型: 板鞋/滑板鞋</li>
                <li>鞋  帮  高: 低帮</li>
                <li class="kong"></li>
                <li>跟　　高: 平 鞋</li>
                <li class="kong"></li>
                <li>底: 平底</li>
            </ul>
        </div>
        <div class="size_infos_box">
            <p class="goods_titie_box">
                <span class="infos_title">尺码信息</span>
            </p>
            <div class="size_infos"></div>
            <p class="s_i_prompt">※ 以上尺寸为实物人工测量，因测量方式不同会有1-2CM误差，相关数据仅作参考，以收到实物为准。 单位：CM ※ 参考尺码因衣服版型、剪裁不同会有误差，仅供参考</p>
            <img src="../img/other-infos/147.jpg" alt="">
        </div>
        <div class="goods_infos" >
            <p class="goods_titie_box">
                <span class="infos_title">商品信息</span>
            </p>
            <p class="g_i_prompt">vans每一款鞋子都拥有独一无二的个性,是现代时尚年轻人的必备休闲鞋款.其运用传统的硬化制作方法 (硫化鞋底）使鞋子具有坚固的构造,1966至今VANS推出了不少款式,新色辈出,给人一种VANS旋风的感觉.VANS一直以来都深受国内外年轻人的热爱,滑板,冲浪,街舞,将许多时尚的元素集于一身.</p>
            <div class="goods_infos_img_box">
            </div>
        </div>
        <div class="comments_box" >
            <p class="goods_titie_box">
                <span class="infos_title">商品评价</span>
            </p>
            <p class="comments_switch">
                <a href="javascript:" class="comments_switch_selected">全部</a>
                <a href="javascript:">有图</a>
                <p class="clear"></p>
            </p>
            <div class="comments_list"></div>
            <p class="comments_page">
                <a href="javascript:" class="comments_page_target">1</a>
                <a href="javascript:">2</a>
                <a href="javascript:">3</a>
                <button>下一页 ></button>
            </p>
        </div>
        <div class="goods_consulting_box">
            <p class="goods_titie_box">
                <span class="infos_title">商品咨询</span>
            </p>
            <div class="goods_consulting"></div>
            <a href="#user_consulting" class="go_to_question"><i class="iconfont">&#xe63b;</i>我要咨询></a>
        </div>
        <div class="shopping_consulting_box">
            <p class="goods_titie_box">
                <span class="infos_title">购买咨询</span>
            </p>
            <div class="shopping_consulting"></div>
            <div class="user_consulting" id="user_consulting">
                <textarea placeholder="请开始你的表演..."></textarea>
                <button>提交咨询</button>
            </div>
        </div>
    </div>
    <div class="after_service_box">
        <p class="after_service_btn">售后服务</p>
        <div class="after_service">
        <p class="goods_titie_box">
            <span class="infos_title">退换货流程</span>
        </p>
            <img src="../img/other-infos/after-service.png" alt="">
        <p class="goods_titie_box">
            <span class="infos_title">有货承诺</span>
        </p>
        </div>
        <p class="after_service_img"></p>
    </div>
</div>
<div class="foot-wrap">
    <div class="foot">
        <div class="foot_layout">
            <div class="f_t">
                <p><i class="iconfont">&#xe69f;</i><span>100%</span> 品牌正品</p>
                <p><i class="iconfont">&#xe691;</i><span>7天</span> 无理由退换货</p>
                <p><i class="iconfont">&#xe63b;</i><a href="#"><span> 便捷</span> 在线客服</a></p>
                <input type="text" placeholder="订阅我们的邮件">
            </div>
            <div class="f_m"></div>
            <div class="f_b">
                <p class="f_b_rk"><a href=""><img src="../img/b_gongshang.png" ></a><a href=""><img src="../img/credit-flag3.png" ></a><a href=""><img src="../img/isc2.png" ></a></p>
                <div class="f_b_copy">
                    <ul><li><a href="#">返回首页</a><span>|</span></li>
                        <li><a href="#">YOHO!BUY 有货</a><span>|</span></li>
                        <li><a href="#">新力传媒</a><span>|</span></li>
                        <li><a href="#">联系我们</a><span>|</span></li>
                        <li><a href="#">商家入驻</a><span>|</span></li>
                        <li><a href="#">隐私条款</a><span>|</span></li>
                        <li><a href="#">友情链接</a></li>
                    </ul>
                    <p class="copy">CopyRight © 2007-2016 南京新与力文化传播有限公司 苏ICP备09011225号 NewPower Co. 版权所有 经营许可证编号：苏B2-20120395</p>
                </div>
            </div>
        </div>
    </div>
    <div class="Placed_top">
        <div class="Placed_top_img1"></div>
        <div class="Placed_top_img2"></div>
    </div>
    <div class="Placed_top_qrShow">
        <h1>扫描二维码</h1>
        <p>下载YohoBuy手机端</p>
        <span>更多客户端下载</span>
    </div>
</div>
</body>
</html>