<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>首页-凯乐石官网</title>
<link rel="stylesheet" href="./style/reset.css">
<link rel="stylesheet" href="./style/style.css">
<link rel="stylesheet" href="./style/swiper-bundle.css">

</head>

<body>
	<!-- 导航栏 -->
	<header>
		<div class="nav">
			<div class="menulist">
				<div>
					<a href=""><img src="../images/logo.png" alt=""></a>
				</div>
				<div></div>
			</div>
		</div>
	</header>
	<!-- 订阅栏 -->
	<!-- 右上角头部 -->
	<!-- 登录注册 -->
	<!-- 搜索 -->
	<!-- 诗作 -->
	<!-- 六大系列导航 -->
	<!-- 主体 -->
	<div class="Out_brand">
		<!-- 第一屏 -->
		<div class="In_brand">
			<div class="top_div">
				<img src="../images/brand_title.png" alt="">
				<div class="homepage_btn_start"></div>
			</div>
			<div class="arrow_div">
				<div>
					<img src="../images/roll.png" alt="">
				</div>
			</div>
		</div>
		<!-- DNA -->
		<!-- 广告轮播 -->
		<!-- 视频 -->
		<!-- 三栏导航 -->
		<!-- 底部 -->
	</div>
	<!-- 空 -->
	<div style="height: 100px;"></div>
	<!-- 结束 -->
	<script type='text/javascript' src='./script/utils.js'></script>
	<script type='text/javascript' src='./script/swiper-bundle.js'></script>
	<script type='text/javascript' src='./script/jquery-1.8.3.js'></script>
	<script type='text/javascript' src='./script/index.js'></script>
</body>

</html>