<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>刘</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/iconfont/iconfont.css">
    <link rel="stylesheet" href="../css/landing.css">
    <link rel="stylesheet" href="../css/public_b&h.css">
    <script src="../js/require.js" data-main="../js/app/public.js"></script>
</head>
<body>
    <div class="header-wrap">
        <header>
            <div class="layout">
                <a href="index.html" class="logo"><img src="../img/logo.png"  alt="" ></a>
                <ul class="h_nav">
                    <li><span>Hi~ </span><a id="userName" href="landing.html">[请登录]</a><a id="user_exit" href="registered.html">[免费注册]</a></li>
                    <li class="h_n_sc"><a href="">MY有货<i></i></a>
                        <ul class="h_b_nav">
                            <li><a href="">我的收藏</a></li>
                            <li><a href="">优惠券</a></li>
                        </ul>
                    </li>
                    <li><a href="">订单中心</a></li>
                    <li><a href="">帮助中心</a></li>
                </ul>
            </div>
        </header>
</div>
    </div>
    <div class="main layout">
        <div class="m_l">
            <img src="../img/Logintoregister/Qrcode_1.jpg" alt="">
        </div>
        <div class="m_r">
            <div class="land_1 land">
                <button class="land_btn"></button>
                <h2>手机扫码，安全登录</h2>
                <div class="land_qr"><p  class="land_qr_img"></p><p class="hint"></p></div>
                <p class="land_q_t"><span></span><b>打开手机Yoho!Buy有货扫一扫登录</b></p>
                <a href="#" class="land_install">下载Yoho!Buy有货手机APP</a>
            </div>
            <div class="land_2 land">
                <button class="land_btn"></button>
                <div class="land_s_b"><span>会员登陆</span><div class="land_s">
                    <a href="javascript:">中国 +86</a>
                    <ul class="select">
                        <li>澳大利亚 +61</li>
                        <li>韩国 +82</li>
                        <li>加拿大 +1</li>
                        <li>马来西亚 +60</li>
                        <li>美国 +1</li>
                        <li>日本 +81</li>
                        <li>新加坡 +65</li>
                        <li>英国 +44</li>
                        <li>中国 +86</li>
                        <li>日本 +SB</li>
                        <li>中国台湾 +86</li>
                        <li>印度 +a3</li>
                    </ul>
                </div></div>
                <p class="l_q_btn">
                    <a class="l_q_b_l" href="javascript:">普通登陆</a><a class="l_q_b_r" href="javascript:">手机验证登陆</a>
                </p>
                <div class="l_pt" >
                    <input class="user_input" type="text" placeholder="邮箱/手机号">
                    <input class="user_input" type="password" placeholder="密码">
                    <p class="v_c"><span>请将下列图片点击翻转至正确方向</span><a class="v_c_btn" href="javascript:">换一批</a></p>
                    <ul class="v_img">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <button class="dl">登陆</button>
                    <div class="dl_options"><h1><input type="checkbox">记住登陆状态</h1> <p><a class="wj" href="javascript:">忘记密码？</a>|<a class="zc" href="javascript:">快速注册</a></p></div>
                    <ul class="dl_href">
                        <li><a href="javascript:"></a></li>
                        <li><a href="javascript:"></a></li>
                        <li><a href="javascript:"></a></li>
                        <li><a href="javascript:"></a></li>
                        <li><a href="javascript:"></a></li>
                        <li><a href="javascript:"></a></li>
                    </ul>
                </div>
                <div class="l_sj" >
                    <input class="user_sj" type="text" placeholder="手机号码">
                    <p class="v_c"><span>请将下列图片点击翻转至正确方向</span><a class="v_c_btn v_c_btn_cp" href="javascript:">换一批</a></p>
                    <ul class="v_img v_img_cp">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <p class="getSms"><input type="text" placeholder="短信验证码"><button>获取短信验证码</button></p>
                    <button class="dl">登陆</button>
                    <div class="dl_options"><h1><input type="checkbox">记住登陆状态</h1> <p><a class="wj" href="javascript:">忘记密码？</a>|<a class="zc" href="javascript:">快速注册</a></p></div>
                    <ul class="dl_href">
                        <li><a href="javascript:"></a></li>
                        <li><a href="javascript:"></a></li>
                        <li><a href="javascript:"></a></li>
                        <li><a href="javascript:"></a></li>
                        <li><a href="javascript:"></a></li>
                        <li><a href="javascript:"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="foot-wrap">
        <div class="foot">
            <div class="foot_layout">
                <div class="f_t">
                    <p><i class="iconfont">&#xe69f;</i><span>100%</span> 品牌正品</p>
                    <p><i class="iconfont">&#xe691;</i><span>7天</span> 无理由退换货</p>
                    <p><i class="iconfont">&#xe63b;</i><a href="#"><span> 便捷</span> 在线客服</a></p>
                    <input type="text" placeholder="订阅我们的邮件">
                </div>
                <div class="f_m"></div>
                <div class="f_b">
                    <p class="f_b_rk"><a href=""><img src="../img/b_gongshang.png" ></a><a href=""><img src="../img/credit-flag3.png" ></a><a href=""><img src="../img/isc2.png" ></a></p>
                    <div class="f_b_copy">
                        <ul><li><a href="#">返回首页</a><span>|</span></li>
                            <li><a href="#">YOHO!BUY 有货</a><span>|</span></li>
                            <li><a href="#">新力传媒</a><span>|</span></li>
                            <li><a href="#">联系我们</a><span>|</span></li>
                            <li><a href="#">商家入驻</a><span>|</span></li>
                            <li><a href="#">隐私条款</a><span>|</span></li>
                            <li><a href="#">友情链接</a></li>
                        </ul>
                        <p class="copy">CopyRight © 2007-2016 南京新与力文化传播有限公司 苏ICP备09011225号 NewPower Co. 版权所有 经营许可证编号：苏B2-20120395</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Placed_top">
            <div class="Placed_top_img1"></div>
            <div class="Placed_top_img2"></div>
        </div>
        <div class="Placed_top_qrShow">
            <h1>扫描二维码</h1>
            <p>下载YohoBuy手机端</p>
            <span>更多客户端下载</span>
        </div>
    </div>
</body>

</html>