<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>liu</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/public_header.css">
    <link rel="stylesheet" href="./css/iconfont/iconfont.css">
    <link rel="stylesheet" href="./css/public_buttom.css">
    <link rel="stylesheet" href="./css/product.css">
    <script src="./js/require.js" data-main="./js/app/product.js"></script>
</head>
<body>
<div class="header-wrap">
    <div class="h_nav">
        <div class="nav layout">
            <div class="nav_l">
                <p><i class="iconfont">&#xe613;</i>YOHO!BUY 有货</p>
                <ul>
                    <li><a data-change="集团官网" data-change2="YOHO!" href="">YOHO!</a></li>
                    <li><a data-change="男生潮流" data-change2="YOHO!BOYS" href="">YOHO!BOYS</a></li>
                    <li><a data-change="女生潮流" data-change2="YOHO!GIRLS" href="">YOHO!GIRLS</a></li>
                    <li><a data-change="趣物分享" data-change2="YOHO!SHOW" href="">YOHO!SHOW</a></li>
                    <li><a data-change="潮流嘉年华" data-change2="YO'HOOD" href="">YO'HOOD</a></li>
                </ul>
            </div>
            <div class="nav_r">
                <ul>
                    <li class="nav_r_dlZc"><span>Hi~ </span>[<a href="landing.html" id="userName"> 请登录 </a>] [<a href="registered.html" id="user_exit"> 免费注册 </a>]</li>
                    <li>|</li>
                    <li><a href="" class="nav_btn_select">MY有货<i class="iconfont">&#xe615;</i></a></li>
                    <li>|</li>
                    <li><a href="" ><i class="iconfont">&#xe605;</i>我的订单</a></li>
                    <li>|</li>
                    <li><a href=""><i class="iconfont">&#xe63d;</i>我的收藏</a></li>
                    <li>|</li>
                    <li><a href=""><i class="iconfont">&#xe635;</i>消息</a></li>
                    <li>|</li>
                    <li><a href=""><i class="iconfont">&#x3459;</i>帮助中心</a></li>
                    <li>|</li>
                    <li><a href="" class="red nav_r_sj"><i class="iconfont">&#xe795;</i>手机版
                        <div class="h_nav_qrShow">
                            <h1>扫描二维码</h1>
                            <p>下载YohoBuy手机端</p>
                            <span>更多客户端下载</span>
                        </div>
                    </a></li>
                </ul>

            </div>
        </div>
</div>
    <div class="h_middle layout">
        <ul class="h_m_nav">
            <li><a class="h_m_n_selected" href="">男生<br/><span>BOYS</span></a></li>
            <li><a href="">女生<br/><span>GIRLS</span></a></li>
            <li><a href="">潮童<br/><span>KIDS</span></a></li>
            <li><a href="">创意生活<br/><span>LIFE STYLE</span></a></li>
        </ul>
        <a href="" class="p_h_logo">
            <img class="p_h_logo_1" src="./img/p_h_logo_1.png" alt="">
            <img class="p_h_logo_2" src="./img/p_h_logo_2.png" alt="">
        </a>
        <div class="h_m_r">
            <div class="search">
                <input type="text" placeholder="潮流新趋势" id="keyword"><button><i class="iconfont">&#xe601;</i></button>
                <ul></ul>
            </div>
            <a class="shopping_cart" href="shopping_cart.html"><i class="iconfont">&#xe600;</i>
                <h1 class="shopping_show">
                    <i class="iconfont">&#xe60a;</i>
                    <p>您的购物车暂无商品</p>
                </h1>
            </a>

        </div>
    </div>
<div class="h_menu">
<ul class="layout">
    <li><a href="">新品到着</a></li>
    <li><a href="">品牌一览</a></li>
    <li><a href="" class="h_menu_target h_menu_hover" data-json="h_nav_list1.json">服饰<p></p></a></li>
    <li><a href="" class="h_menu_target h_menu_hover" data-json="h_nav_list2.json">鞋履<p></p></a></li>
    <li><a href="" class="h_menu_target h_menu_hover" data-json="h_nav_list3.json">包袋<p></p></a></li>
    <li><a href="" class="h_menu_target h_menu_hover" data-json="h_nav_list4.json">配饰 · 其他<p></p></a></li>
    <li><a href="">领券中心</a></li>
    <li><a href="">逛</a></li>
    <li><a href="">SALE</a></li>
</ul>
<div class="h_menu_list h_menu_hover">
    <div class="layout"></div>
</div>
</div>
</div>
<div class="layout">
    <div class="location"><p><a href="index.html">BOYS首页</a><b>></b><a href="javascript:">鞋靴</a><b>></b><span>休闲/运动鞋</span></p></div>
<div class="product_left"></div>
<div class="product_right">
    <div class="category_explain">
        <h1>休闲鞋/运动鞋</h1>
        <h2>CASUAL SHOES&SNEAKERS</h2>
        <p class="c_e_text">在休息的时候，不想拘束于紧身厚重的鞋子，想要潇洒漫步，<br/>
            一双休闲鞋是你的最佳选择。简单、舒适是休闲鞋的理念，满足人们日常穿着的需求，体现了一种休闲时尚的生活。</p>
        <p class="c_e_href"><span><a href="javascript:">VANS</a></span><span><a href="javascript:">CONVERSE</a></span><span><a href="javascript:">PUMA</a></span></p>
        <p class="c_e_href"><span><a href="javascript:">DC</a></span><span><a href="javascript:">Adidas Originals</a></span><span><a href="javascript:">Android Homme</a></span></p>
        <p class="c_e_href"><span><a href="javascript:">篮球鞋</a></span><span><a href="javascript:">板鞋</a></span><span><a href="javascript:">复古跑鞋</a></span></p>
    </div>
    <div class="product_screen">
        <div class="screen_selected"><span>已选条件:</span><p>BOYS<sup>x</sup></p></div>
        <div class="screen_sex"><span>性别:</span><p class="red">BOYS</p><p>GIRLS</p></div>
    </div>
    <div class="show_product_screen">
        <p class="s_p_s_l"><b>默认</b><i>最新</i><span>价格</span><span>折扣</span><span><input type="checkbox">新品</span><span><input type="checkbox">打折</span><span><input type="checkbox">限量</span></p>
        <p class="s_p_s_r">
            <select><option>60</option><option>50</option><option>40</option><option>30</option><option>20</option><option>10</option></select>每页
            <span><b>1</b>/30</span>
        </p>
    </div>
    <div class="product_list"></div>
    <div class="product_page">
        <p>1 - 59 / 共1759件商品</p>
        <ul>
            <li><a href="javascript:">1</a></li>
            <li><a href="javascript:">2</a></li>
            <li><a href="javascript:">3</a></li>
            <li><a href="javascript:">4</a></li>
            <li><a href="javascript:">5</a></li>
            <li><a href="javascript:">...</a></li>
            <li><a href="javascript:">30</a></li>
            <li><a href="javascript:">下一页</a></li>
        </ul>
    </div>
</div>
</div>
<div class="foot-wrap">
    <div class="foot">
        <div class="foot_layout">
            <div class="f_t">
                <p><i class="iconfont">&#xe69f;</i><span>100%</span> 品牌正品</p>
                <p><i class="iconfont">&#xe691;</i><span>7天</span> 无理由退换货</p>
                <p><i class="iconfont">&#xe63b;</i><a href="#"><span> 便捷</span> 在线客服</a></p>
                <input type="text" placeholder="订阅我们的邮件">
            </div>
            <div class="f_m"></div>
            <div class="f_b">
                <p class="f_b_rk"><a href=""><img src="./img/b_gongshang.png" ></a><a href=""><img src="./img/credit-flag3.png" ></a><a href=""><img src="./img/isc2.png" ></a></p>
                <div class="f_b_copy">
                    <ul><li><a href="#">返回首页</a><span>|</span></li>
                        <li><a href="#">YOHO!BUY 有货</a><span>|</span></li>
                        <li><a href="#">新力传媒</a><span>|</span></li>
                        <li><a href="#">联系我们</a><span>|</span></li>
                        <li><a href="#">商家入驻</a><span>|</span></li>
                        <li><a href="#">隐私条款</a><span>|</span></li>
                        <li><a href="#">友情链接</a></li>
                    </ul>
                    <p class="copy">CopyRight © 2007-2016 南京新与力文化传播有限公司 苏ICP备09011225号 NewPower Co. 版权所有 经营许可证编号：苏B2-20120395</p>
                </div>
            </div>
        </div>
    </div>
    <div class="Placed_top">
        <div class="Placed_top_img1"></div>
        <div class="Placed_top_img2"></div>
    </div>
    <div class="Placed_top_qrShow">
        <h1>扫描二维码</h1>
        <p>下载YohoBuy手机端</p>
        <span>更多客户端下载</span>
    </div>
</div>
</body>
</html>