<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>刘</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/iconfont/iconfont.css">
    <link rel="stylesheet" href="../css/landing.css">
    <link rel="stylesheet" href="../css/public_b&h.css">
    <script src="../js/require.js" data-main="../js/app/public.js"></script>
</head>
<body>
<div class="header-wrap">
    <header>
        <div class="layout">
            <a href="index.html" class="logo"><img src="../img/logo.png"  alt="" ></a>
            <ul class="h_nav">
                <li><span>Hi~ </span><a id="userName" href="landing.html">[请登录]</a><a id="user_exit" href="registered.html">[免费注册]</a></li>
                <li class="h_n_sc"><a href="">MY有货<i></i></a>
                    <ul class="h_b_nav">
                        <li><a href="">我的收藏</a></li>
                        <li><a href="">优惠券</a></li>
                    </ul>
                </li>
                <li><a href="">订单中心</a></li>
                <li><a href="">帮助中心</a></li>
            </ul>
        </div>
    </header>
</div>
<div class="main layout">
    <div class="m_l">
        <img src="../img/Logintoregister/Qrcode_1.jpg" alt="">
    </div>
    <div class="m_r">
        <div class="registered">
            <select class="re_sel">
                <option data-id="+61">澳大利亚</option>
                <option data-id="+82">韩国</option>
                <option data-id="+1">加拿大</option>
                <option data-id="+60">马来西亚</option>
                <option data-id="+1">美国</option>
                <option data-id="+81">日本</option>
                <option data-id="+65">新加坡</option>
                <option data-id="+44">英国</option>
                <option selected = "selected" data-id="+86">中国</option>
                <option data-id="+853">中国澳门</option>
                <option data-id="+886">中国台湾</option>
                <option data-id="+852">中国香港</option>
            </select>
            <p class="re_ipt_pon"><span>+86</span><input type="text" placeholder="请输入手机号码"><span class="phone_validation"></span></p>
            <p class="v_c"><span>请将下列图片点击翻转至正确方向</span><a class="v_c_btn" href="javascript:">换一批</a></p>
            <ul class="v_img">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <p class="getSms"><input type="text" placeholder="短信验证码"><button>获取短信验证码</button></p>
            <div class="re_psw">
                <input type="password" placeholder="设置密码"><span class="password_validation"></span>
                <p><span>弱</span><span>中</span><span>强</span></p>
            </div>
            <p class="agreement"><input type="checkbox" checked>我已阅读并同意遵守 <a href="#">YOHO!BUY 有货服务条款</a></p>
            <div class="re_rebtn"><button>立即注册</button> <span class="re_qrShow"></span>
                <div class="re_qrShow_box">
                    <h1>扫描二维码</h1>
                    <p>下载YohoBuy手机端</p>
                    <span>更多客户端下载</span>
                    <b></b>
                </div>
                <p class="jump_land">我已注册YOHO!BUY 有货账号 <a href="landing.html">快速登录</a></p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="foot-wrap">
    <div class="foot">
        <div class="foot_layout">
            <div class="f_t">
                <p><i class="iconfont">&#xe69f;</i><span>100%</span> 品牌正品</p>
                <p><i class="iconfont">&#xe691;</i><span>7天</span> 无理由退换货</p>
                <p><i class="iconfont">&#xe63b;</i><a href="#"><span> 便捷</span> 在线客服</a></p>
                <input type="text" placeholder="订阅我们的邮件">
            </div>
            <div class="f_m"></div>
            <div class="f_b">
                <p class="f_b_rk"><a href=""><img src="../img/b_gongshang.png" ></a><a href=""><img src="../img/credit-flag3.png" ></a><a href=""><img src="../img/isc2.png" ></a></p>
                <div class="f_b_copy">
                    <ul><li><a href="#">返回首页</a><span>|</span></li>
                        <li><a href="#">YOHO!BUY 有货</a><span>|</span></li>
                        <li><a href="#">新力传媒</a><span>|</span></li>
                        <li><a href="#">联系我们</a><span>|</span></li>
                        <li><a href="#">商家入驻</a><span>|</span></li>
                        <li><a href="#">隐私条款</a><span>|</span></li>
                        <li><a href="#">友情链接</a></li>
                    </ul>
                    <p class="copy">CopyRight © 2007-2016 南京新与力文化传播有限公司 苏ICP备09011225号 NewPower Co. 版权所有 经营许可证编号：苏B2-20120395</p>
                </div>
            </div>
        </div>
    </div>
    <div class="Placed_top">
        <div class="Placed_top_img1"></div>
        <div class="Placed_top_img2"></div>
    </div>
    <div class="Placed_top_qrShow">
        <h1>扫描二维码</h1>
        <p>下载YohoBuy手机端</p>
        <span>更多客户端下载</span>
    </div>
</div>
</body>

</html>